{{ define "main" }}
<div class="container mt-5 pt-4">


    <h2 class="h1-responsive font-weight-bold text-center my-5">Calendario</h2> 
    <div class="googleCalendar">
 
    <iframe src="https://calendar.google.com/calendar/embed?src=karencitaosorio%40gmail.com&ctz=America%2FSantiago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    </div>

    {{ partial "blogpost.html" . }}

    <h2 class="h1-responsive font-weight-bold text-center my-5">Bolletines</h2>  


</div>
{{ end }}