<!-- Section: Blog v.3 -->
<section class="my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">{{T "Recent News"}}</h2>
        <!-- Section description -->
        <p class="text-center dark-grey-text w-responsive mx-auto mb-5">{{.Params.news_intro}}</p>
      
      
      {{ range where .Site.RegularPages "Section" "in" (slice "news") }}

        <!-- Grid row -->
        <div class="row">
      
          <!-- Grid column -->
          <div class="col-lg-5 col-xl-4">
      
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
              <img class="img-fluid" src="{{ $.Site.Params.cloudinary_url }}/c_fill,g_faces,h_400,w_600{{ .Params.image}}" alt="{{.Title}}">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-7 col-xl-8">
      
            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>{{.Title}}</strong></h3>
            <!-- Excerpt -->
            <p class="dark-grey-text">{{.Summary}}</p>
            <!-- Post data -->
            <p> <a class="font-weight-bold">{{T "Date"}}:</a>  {{ dateFormat ( or $.Site.Params.dateFormat " Jan 02, 2006" ) .Date }}    </p>
            <!-- Read more button -->
            <a class="btn btn-primary btn-md" a href="{{.Permalink}}">{{T "Read more"}}</a>
      
          </div>
          <!-- Grid column -->
      
        </div>
        <!-- Grid row -->
      
        <hr class="my-5">
      {{ end }}
        
      
      </section>
      <!-- Section: Blog v.3 -->

    