<div class="row">
        <div class="col-md-12">
      
          <div id="mdb-lightbox-ui"></div>
      
          <div class="mdb-lightbox">
      
         
      
          {{ range .Params.fotos }}
            <!-- <h1>big</h1>
            <img src="{{ $.Site.Params.cloudinary_url }}/w_1600,h_1067,c_fill/{{.}}"  alt="foto del escuela waldorf" class="img-fluid">
            <h3>smaller</h3>
            <img src="{{ $.Site.Params.cloudinary_url }}/w_400,h_267,c_fill/{{.}}"  alt="foto del escuela waldorf" class="img-fluid"> -->

            <figure class="col-md-4">
              <a href="{{ $.Site.Params.cloudinary_url }}/w_1600,h_1067,c_fill/{{.}}" data-size="1600x1067">
                <img alt="picture" src="{{ $.Site.Params.cloudinary_url }}/w_400,h_267,c_fill/{{.}}" class="img-fluid">
              </a>
            </figure>

          {{ end }}
      
          </div>
      
        </div>
      </div>